

.feature-card {
  background-color: transparent;
 }


.feature-title {
  margin: 0 0 16px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.feature-text {
  margin: 0;
  color: #434455;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
