.features-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.feature-card {
  flex-basis: calc((100% - 72px) / 4);
  min-width: 264px;
}

@media (max-width: 980px) {
  .feature-card {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media (max-width: 760px) {
  .feature-card {
    flex-basis: 100%;
  }
}
